commands:
    create_post_dir:
        command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
        ignoreErrors: true

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01-symfony.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      cd /var/app/current

      HTTPDUSER=`ps aux | grep -E '[a]pache|[h]ttpd|[_]www|[w]ww-data|[n]ginx' | grep -v root | head -1 | cut -d\  -f1`
      sudo setfacl -R -m u:"$HTTPDUSER":rwX -m u:`whoami`:rwX app/cache app/logs web/
      sudo setfacl -dR -m u:"$HTTPDUSER":rwX -m u:`whoami`:rwX app/cache app/logs web/

      #php app/console doctrine:schema:update --complete --dump-sql --env=dev --force --no-interaction

      rm -rf /var/app/current/app/cache/* /var/app/current/app/logs/*

      rm -rf /var/app/current/app/web/bundles/ /var/app/current/app/web/css/ /var/app/current/app/web/js/

      composer install

      php artisan migrate
